{{> ../partials/head }}
    <div style="display: flex; flex-direction: column; align-items: center">
        <h1>{{uppercase title }}</h1>
        <h2>{{uppercase (after-before-symbols "good luck" "*" "3")}}</h2>
        <img src="static/images/preloader.svg" style="margin-bottom: 2rem"/>
        <a href="https://webpack.js.org" class="button">Webpack documentation</a>
    </div>
{{> ../partials/footer }}
