@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
}
